<!-- Storno-Bestätigung credit based -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Storno Bestellung - Grundriss Schmiede GmbH</title>
  </head>
  <body>
    <header class="hader">
      <img
        src="/assets/images/main-logo.png"
        alt="Grundriss Schmiede GmbH Logo"
      />
    </header>

    <main>
      <section>
        <p>Sehr geehrter <strong>Max Mustermann</strong>,</p>
        <p>
          wir bestätigen hiermit die Stornierung Ihrer Bestellung mit der
          Bestellnummer <strong>123456</strong>, die am
          <strong>01.01.2025</strong> aufgegeben wurde.
        </p>

        <div class="additional-info">
          <span
            >Die belasteten Credits <strong>150</strong> haben wir Ihnen wieder
            gutgeschrieben.</span
          >
          <span>
            Ihre aktueller Credit-Guthaben beträgt nun
            <strong>300 Credits</strong>.
          </span>
        </div>

        <div class="additional-info">
          <p>
            Bei Fragen oder Anliegen steht Ihnen unser Kundenservice gerne zur
            Verfügung.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <section class="greetings">
        <p>Mit freundlichen Grüßen</p>
        <p>Ihr Team der Grundriss Schmiede</p>
      </section>

      <section class="social">
        <a
          href="https://www.facebook.com/GrundrissSchmiede/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a
          href="https://www.instagram.com/grundrissschmiede/#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.linkedin.com/company/grundriss-schmiede"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a
          href="https://www.youtube.com/@Spacelutions-Deutschland"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/youtube.svg" alt="YouTube" />
        </a>
      </section>

      <section>
        <div>
          <span>ImmoMates GmbH | </span>
          <span>Lange Reihe 22 | </span>
          <span>20099 Hamburg</span>
        </div>

        <div>
          <span>Geschäftsführer: Jan Heusinger | </span>
          <span>Amtsgericht Hamburg | HRB 162124 | </span>
          <span>USt-IdNr.: DE329099286</span>
        </div>

        <div>
          <span>Telefon: 040 69639190 | </span>
          <span
            >E-Mail:
            <a href="mailto:mail@grundriss-schmiede.de"
              >mail@grundriss-schmiede.de</a
            ></span
          >
        </div>
      </section>
    </footer>
  </body>
</html>
