<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Erinnerung - Grundriss Schmiede GmbH</title>
  </head>
  <body>
    <header class="header">
      <img
        src="/assets/images/main-logo.png"
        alt="Grundriss Schmiede GmbH Logo"
      />
    </header>

    <main>
      <section>
        <p>Sehr geehrter <strong>Max Mustermann</strong>,</p>
        <p>
          es ist bereits eine Woche vergangen, seit Sie sich bei der Grundriss
          Schmiede registriert haben. Wir freuen uns sehr über Ihr Interesse an
          unseren Dienstleistungen!
        </p>
        <p>
          Uns ist aufgefallen, dass Sie noch keine Bestellung aufgegeben haben.
          Falls Sie Fragen zu unserem Angebot haben oder Unterstützung bei Ihrer
          ersten Bestellung benötigen, stehen wir Ihnen gerne zur Verfügung.
        </p>

        <section class="customer-portal">
          <p>Jetzt anmelden und Ihren ersten Grundriss in Auftrag geben!</p>
          <a
            href="https://kundenportal.grundriss-schmiede.de"
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            aria-label="Zum Kundenportal wechseln"
            >Zum Kundenportal</a
          >
        </section>
      </section>
    </main>

    <footer>
      <section class="greetings">
        <p>Mit freundlichen Grüßen</p>
        <p>Ihr Team der Grundriss Schmiede</p>
      </section>

      <section class="social">
        <a
          href="https://www.facebook.com/GrundrissSchmiede/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a
          href="https://www.instagram.com/grundrissschmiede/#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.linkedin.com/company/grundriss-schmiede"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a
          href="https://www.youtube.com/@Spacelutions-Deutschland"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/youtube.svg" alt="YouTube" />
        </a>
      </section>

      <section>
        <div>
          <span>ImmoMates GmbH | </span>
          <span>Lange Reihe 22 | </span>
          <span>20099 Hamburg</span>
        </div>

        <div>
          <span>Geschäftsführer: Jan Heusinger | </span>
          <span>Amtsgericht Hamburg | HRB 162124 | </span>
          <span>USt-IdNr.: DE329099286</span>
        </div>

        <div>
          <span>Telefon: 040 69639190 | </span>
          <span
            >E-Mail:
            <a href="mailto:mail@grundriss-schmiede.de"
              >mail@grundriss-schmiede.de</a
            ></span
          >
        </div>
      </section>
    </footer>
  </body>
</html>
