.button {
  display: inline-block;
  background-color: #009245;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 12px;
  font-weight: 600;
  border: none;
}

.button:hover {
  background-color: #007a3a;
  text-decoration: none;
  color: #ffffff;
}
