<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Verifizieren - Grundriss Schmiede GmbH</title>
  </head>
  <body>
    <header class="header">
      <img
        src="/assets/images/main-logo.png"
        alt="Grundriss Schmiede GmbH Logo"
      />
    </header>

    <main>
      <section>
        <p>Sehr geehrter <strong>Max Mustermann</strong>,</p>
        <p>
          vielen Dank für Ihre Registrierung bei der Grundriss Schmiede GmbH.
        </p>
        <p>
          Verfizieren Sie bitte Ihre <strong>E-Mail-Adresse</strong>, um Ihren
          Kundenbereich zu aktivieren.
        </p>

        <a
          class="button"
          href="https://www.grundriss-schmiede.de/verify-email?token=abcdef123456"
          target="_blank"
          rel="noopener noreferrer"
        >
          E-Mail-Adresse verifizieren
        </a>

        <p>
          Wenn Sie diese Anfrage nicht gestellt haben, ignorieren Sie diese
          E-Mail bitte.
        </p>
      </section>
    </main>

    <footer>
      <section class="greetings">
        <p>Mit freundlichen Grüßen</p>
        <p>Ihr Team der Grundriss Schmiede</p>
      </section>

      <section class="social">
        <a
          href="https://www.facebook.com/GrundrissSchmiede/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a
          href="https://www.instagram.com/grundrissschmiede/#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.linkedin.com/company/grundriss-schmiede"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a
          href="https://www.youtube.com/@Spacelutions-Deutschland"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/youtube.svg" alt="YouTube" />
        </a>
      </section>

      <section>
        <div>
          <span>ImmoMates GmbH | </span>
          <span>Lange Reihe 22 | </span>
          <span>20099 Hamburg</span>
        </div>

        <div>
          <span>Geschäftsführer: Jan Heusinger | </span>
          <span>Amtsgericht Hamburg | HRB 162124 | </span>
          <span>USt-IdNr.: DE329099286</span>
        </div>

        <div>
          <span>Telefon: 040 69639190 | </span>
          <span
            >E-Mail:
            <a href="mailto:mail@grundriss-schmiede.de"
              >mail@grundriss-schmiede.de</a
            ></span
          >
        </div>
      </section>
    </footer>
  </body>
</html>
